@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Pacifico&display=swap");

:root {
  background: linear-gradient(to left, #e0e0e0, #d8d8d8);
}
body {
  background: linear-gradient(to left, #e0e0e0, #d8d8d8);
}

/* colors bg and txt for nav-tabs */
.nav-link.active {
  background-color: #0c6291 !important;
  color: black !important;
  border-color: #1a97db !important;
  border-style: dotted !important;
}

.navbar-brand {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.nav-tabs-border {
  border-color: #0c6291 !important;
  border-bottom-style: dotted !important ;
}

/* Color for navbar / footer */
.navbar {
  background-color: #233d4d;
}

/* Buttons colors */
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary-visited {
  background-color: #0c6291 !important;
  color: white !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary-visited {
  background-color: #0c6291 !important;
  color: white !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success-visited {
  background-color: #004700 !important;
}

.btn-outline-success,
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success-visited {
  background-color: #004700 !important;
}

.btn-outline-dark,
.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:visited {
  background-color: #c4c4c4 !important;
  color: black !important;
}

.btn-outline-danger,
.btn-outline-danger:hover,
.btn-outline-danger:active,
.btn-outline-danger:visited {
  background-color: rgb(60, 13, 13) !important;
  color: white !important;
}

.list-group-item {
  background-color: #6d6d6d !important;
  border-bottom: 2px !important;
}

.list-group-header {
  background: linear-gradient(to right, #233d4d, #455057) !important;
  border: 1px solid black !important;
}

.card-body {
  background-color: #6d6d6d !important;
}

.card {
  border-color: #1a97db !important;
  border-style: solid !important;
}

.card-description-display {
  height: 8rem;
}
